<form #formEditCreate="ngForm" action="" class="userForm"><!-- {{formEditCreate.form.value | json}} -->
  <input [(ngModel)]="user.id" name="id" type="hidden">
  <div class="form-group">
    <label for="firstname">Nome</label>
    <input [(ngModel)]="user.name" class="form-control" id="firstname" name="firstname"
           placeholder="Inserisci il Nome..."
           type="text">
  </div>
  <div class="form-group">
    <label for="lastname">Cognome</label>
    <input [(ngModel)]="user.lastname" class="form-control" id="lastname" name="lastname"
           placeholder="Inserisci il Cognome..."
           type="text">
  </div>
  <div class="form-group">
    <label for="fiscalcode">Codice Fiscale</label>
    <input [(ngModel)]="user.codf" class="form-control" id="fiscalcode" name="fiscalcode"
           placeholder="Inserisci il Codice Fiscale..." type="text">
  </div>
  <div class="form-group">
    <label for="age">Età</label>
    <input [(ngModel)]="user.age" class="form-control" id="age" name="age" placeholder="Inserisci l'Età..."
           type="number">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="user.email" class="form-control" id="email" name="email" placeholder="Inserisci l'Email..."
           type="email">
  </div>
  <div class="form-group">
    <label for="phone">Telefono</label>
    <input [(ngModel)]="user.phone" class="form-control" id="phone" name="phone"
           placeholder="Inserisci il Numero di Telefono..."
           type="text">
  </div>
  <div class="form-group">
    <label for="province">Provincia</label>
    <input [(ngModel)]="user.province" class="form-control" id="province" name="province"
           placeholder="Inserisci la Provincia..."
           type="text">
  </div>
  <div class="form-group form-footer">
    <button (click)="saveUser()" class="btn btn-success pers">Salva
<!--      <fa-icon [icon]="faSave" [title]="save"></fa-icon>-->
    </button>
    <button (click)="resetForm(formEditCreate.form)" class="btn btn-primary pers">Reset
<!--      <fa-icon [icon]="faUndo" [title]="reset"></fa-icon>-->
    </button>
  </div>
</form>
